{{#each this}}
<li class="item">
  {{#if preview-image}}
  <img class="item__image" src={{preview-image}}
    alt={{title}} />
  {{else}}
    <img class="item__image" src="https://i.ibb.co/KDWjjcv/no-photo.png" alt={{title}} />
  {{/if}}
  <div class="item__thumb">
    <div class="item__title__thumb">
      <svg width='16' height='16'>
        <use class={{type}} href='./images/icons/sprite.svg#icon-{{type}}'></use>
      </svg>
      <p class="item__title">{{title}}</p>
    </div>
    {{#if tags}}
    <div class="item__tags__thumb">
      <a href="#" class="tag-link">
        <span class="tag-item">Tags:</span>
        <span class="tag-item__sum">+{{tags.length}}</span>
        <ul class="tag-list">
          {{#each tags as |tags|}}
          <li class="tag-item">{{tags}}</li>
          {{/each}}
        </ul>
      </a>
    </div>
    {{/if}}

    {{#if description}}
    <p class="item__description">{{description}}</p>
    {{/if}}

    {{#if external-link}}
    <div class="item__link-thumb">
      <div class="icon-thumb">
        <svg width='16' height='16'>
          <use class={{type}} href='/assets/icons/sprite.svg#icon-{{type}}'></use>
        </svg>
      </div>
      <div>
        <p class="item__link-title">{{external-link.title}}</p>
        <a class="item__link" href={{external-link.href}} target="_blank" rel="noreferrer noopener">
          {{external-link.href}}
        </a>
      </div>
    </div>
    {{/if}}
  </div>
</li>
{{/each}}